In [1]:
import pandas as pd

In [2]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [14]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
HighSchool_df = pd.DataFrame(high_schools_dict)
HighSchool_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
HighSchool_df.index

RangeIndex(start=0, stop=5, step=1)